body {
	background-color: aliceblue;
}

td, th {
	width: 50px;
	height: 50px;
	border: 1px solid;
	text-align: center;
}

.pink {
	background-color: pink;
}

.yellow {
	background-color: yellow;
}

.pale-yellow {
	background-color: darkkhaki;
}

.blue {
	background-color: dodgerblue;
}

.yellow {
	background-color: yellow;
}
.yellow:hover{
	background-color:yellowgreen;
}
.green {
	background-color: green;
}

.green:hover {
		background-color: lawngreen;
}

.vertical-text > div {
	transform: rotate(-90deg);
	font-size: 13px;
}

.cell {
}

.right-align {
	text-align: right;
}
